header, footer{
	background-color: #FFC0CB;
	text-align: center;
	height: 50px;
}
footer{
	height: 25px;
}
header p{
	position: absolute;
	top: 2%;
	margin-left: 5%;
}
a {
  text-decoration: none;
}
.roz{
	background-color: #FFC0CB;
	text-align: center;
}
.naveg-1{
align-items:flex-start;
}
.naveg-2{
align-items:flex-start;
}
.conteiner-1{
display:flex;
flex-basis: 100%;
margin: 0;
padding: 0;
flex-direction:column;
}
* {
    margin: 0;
}
.MIN{
	max-width: 60%;
	text-align: center;
	color: #FFC0CB;
}
.MIN-1{
	max-width: 60%;
	text-align: center;
	color: #FFC0CB;
}
.main{
padding: 0 0 10px 0;
display:flex;
flex-direction:column;
}
.myslide img{
	width: 240px;
	height: 300px;
}

@media screen and (min-device-width: 500px){
.naveg-1{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-2{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.main{
display:flex;
flex-direction:column;
max-width:960px;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
}
}